h1 {
  text-align: center;
}

.trafficLightWhole {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trafficLight {
  background-color: black;
  width: 50px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  border-radius: 10px;
}
.trafficLight div {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}

.trafficLightBottom {
  background-color: black;
  height: 300px;
  width: 10px;

}